{{> header}}
<h1>Agregar producto</h1>
<div class="form-container">
  <form id="add-product-form" class="aligned-form">

      <label for="title">Nombre</label>
      <input type="text" name="title" id="title" required>

      <label for="description">Descipción</label>
      <input type="text" name="description" id="description" required>

      <label for="price">Precio</label>
      <input type="number" name="price" id="price" required>

      <label for="stock">Stock</label>
      <input type="number" name="stock" id="stock" required>

      <label for="code">Código</label>
      <input type="text" name="code" id="code" required>
      
      <label for="category">Categoría</label>
      <select name="category" id="category">
        <option value="accesorios">accesorios</option>
        <option value="auriculares">auriculares</option>
        <option value="teclados">teclados</option>
        <option value="placas de video">placas de video</option>
        <option value="monitores">monitores</option>
        <option value="parlantes">parlantes</option>
        <option value="mouses">mouses</option>
        <option value="microfonos">microfonos</option>
        <option value="notebooks">notebooks</option>
        <option value="motherboards">motherboards</option>
        <option value="gabinetes">gabinetes</option>
      </select>
      <label></label>
      <button type="submit">Agregar producto</button>
  </form>
</div>
{{>footer}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/addProduct.js"></script>
