{{>header}}
<div class="center">
    <h1>Solicitar reinicio de contraseña</h1>
    <form action="/api/passwords/forgot" method="POST" class="aligned-form">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
        <label></label>
        <input type="submit" value="Enviar">
    </form>
</div>
{{>footer}}