<div>
    <form action="/api/passwords/forgot" method="POST">
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
        <input type="submit" value="Send">
    </form>
</div>