{{>header}}
<div class="center">
    <h1>Iniciar sesión</h1>
    <form method="POST" action="/api/sessions/login" class="aligned-form">
        <label>Email</label>
        <input name="username" required>
        <label>Contraseña</label>
        <input type="password" name="password" required>
        <label></label>
        <input type="submit" value="Iniciar sesión">
    </form>
    <br>
    <div class="spaced">
      <a href="/register" class="button-like-link">Registrarse</a>
      <a href="/api/sessions/github" class="button-like-link">
        <i class="fab fa-github"></i>
        Iniciar sesión con GitHub
      </a>
      <a href="/forgot-password" class="button-like-link">Olvidé mi Contraseña</a>
    </div>
</div>
{{>footer}}
