<div>
    <h1>Login</h1>
    <form method="POST" action="/api/sessions/login" >
        <label>Username</label>
        <input name="username">
        <br>
        <label>password</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
    <a href="/register">Registrate</a>
    <button>
  <a href="/api/sessions/github">
    <i class="fab fa-github"></i>
    Iniciar sesión con GitHub
  </a>
</button>

</div>
