<div>
    <h1>Login</h1>
    <form method="POST" action="/api/sessions/login" >
        <label>Username</label>
        <input name="username">
        <br>
        <label>Password</label>
        <input type="password" name="password">
        <input type="submit" value="Send">
    </form>
    <a href="/register">Sign in</a>
    <button>
      <a href="/api/sessions/github">
        <i class="fab fa-github"></i>
        Login with GitHub
      </a>
    </button>
    <a href="/forgot-password">I forgot my password</a>
</div>
