<div>
    <h1>Registro</h1>
    <form action="register-form">
        <label>Nombre</label>
        <input name="name">
        <label>Apellido</label>
        <input name="last_name">
        <label>Email</label>
        <input name="email">
        <label>Género</label>
        <select name="gender">
            <option value="none">-</option>
        {{#each genders}}
            <option value="{{this}}">{{this}}</option>
        {{/each}}
        </select>
        <label>Constraseña</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
</div>
<script src="/js/register.js"></script>