<div>
    <form id="resetForm" onsubmit="return false">
        <label>New password</label>
        <input type="password" name="password">
        <label>Repeat password</label>
        <input type="password" name="repeatPassword">
        <input type="submit" value="Send">
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/resetPassword.js"></script>