body {
  margin: 0;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.primary-font {
  font-family: "Times New Roman";
  font-size: 16px;
}

.btn-invisible {
  background-color: transparent;
  width: fit-content;
  border: none;
  color: #ffffff;
  padding: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.navbar-logo a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.navbar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar-menu li {
  margin: 0 10px;
}

.navbar-menu li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
}

.navbar-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

footer {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links a {
  text-decoration: none;
  color: #333;
  margin-right: 20px;
}

.footer-social a {
  text-decoration: none;
  color: #333;
  margin-right: 10px;
}

.footer-social i {
  font-size: 1.2rem;
}

.footer-text p {
  font-size: 0.8rem;
  color: #666;
}

@media screen and (max-width: 768px) {
  .navbar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    z-index: 999;
    transform: translateY(-100%);
    transition: all 0.5s ease-in-out;
  }

  .navbar-menu.open {
    transform: translateY(0);
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-toggle.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .navbar-toggle.active span:nth-child(2) {
    opacity: 0;
  }

  .navbar-toggle.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .navbar-toggle.active {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
  }

  .navbar-menu li {
    display: block;
    margin: 10px 0;
    text-align: center;
  }
}
