.aligned-form {
    display: grid;
    grid-template-columns: 150px 300px;
    gap: 10px;
    align-items: center;
}

.center {
    justify-self: center;
}

.spaced {
    display: flex;
    flex-direction: column;
}

.button-like-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    margin: 2px;
    width: 200px;
    text-align-last: center;
}
  
.button-like-link:hover {
    background-color: #0056b3;
}