<footer>
  <div class="footer-container">
    <div class="footer-links">
      <a href="/terms&Conditions">Términos y condiciones</a>
      <a href="/privacyPolicies">Políticas de privacidad</a>
    </div>
    <div class="footer-social">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
    </div>
  </div>
  <div class="footer-text">
    <p>Derechos reservados &copy; 2023</p>
  </div>
</footer>
