<nav class="navbar">
  <div class="navbar-logo">
    <a href="#">Logo</a>
  </div>
  <ul class="navbar-menu">
    <li><a href="/">Home</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/realTimeProducts">Realtime Products</a></li>
    <li><a href="/chat">Chat</a></li>
  </ul>
  <div class="navbar-toggle">
    <span></span>
    <span></span>
    <span></span>
  </div>
</nav>
