<nav class="navbar">
  <div class="navbar-logo">
    <a href="#">Logo</a>
  </div>
  <ul class="navbar-menu">
    <li><a href="/profile">Perfil</a></li>
    <li><a href="/">Home</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/carts">Cart</a></li>
    {{!-- <li><a href="/realTimeProducts">Realtime Products</a></li> temporalmente fuera de servicio --}}
    {{!-- <li><a href="/chat">Chat</a></li> temporalmente fuera de servicio --}}
    <li><form action="/api/sessions/logout" method="get"><button class="btn-invisible" type="submit"><strong>Log out</strong></button></form></li>
  </ul>
  <div class="navbar-toggle">
    <span></span>
    <span></span>
    <span></span>
  </div>
</nav>
<script defer src="/js/index.js"></script>
